# Evitar subir archivos de entorno con datos sensibles
.env

# Carpeta de entornos virtuales (si usas venv)
venv/
__pycache__/
*.pyc
*.pyo

# Archivos de logs y caché
*.log
logs/
cache/

# Archivos de dependencias de Python
pip-log.txt
pip-delete-this-directory.txt

# Archivos de Docker (si usas Docker)
*.env
docker-compose.override.yml
Dockerfile

migrations/versions/*.pyc
migrations/versions/*.py


# Archivos de IDEs y editores (VSCode, PyCharm, etc.)
.vscode/
.idea/
*.iml

#PARTE DE FRONTEND
# Node.js
frontend/node_modules/
frontend/.vite/
frontend/dist/

# Archivos de construcción de React/Vite
build/
dist/

# Archivos de log de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno de Node
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos generados por IDEs para frontend (si no se ignoran ya)
.DS_Store
